<!DOCTYPE html>
<html lang="pt-br">

	<head>
	<meta charset="utf8"/>
		<title>Clientes</title>
	</head>
	
	<body bgcolor="d0d0d0">
	
		<h1>Segue abaixo a lista dos nossos clientes!</h1>
		
		<p>Alexandre de Moraes</p>
		<img width="100px" src ="/static/Alexandre.jpg"/>
						
		<p>Bruno Dardengo</p>
		<img width="100px" src ="/static/Bruno.jpg"/>
		
		<p>Brunno Ribeiro de Andrade</p>
		<img width="100px" src ="/static/Brunno.jpg"/>
		
		<p>Brenda Brunoro</p>
		<img width="100px" src ="/static/Brenda.jpg"/>
		
		<p>Carlos Eduardo Maitan</p>
		<img width="100px" src ="/static/Carlos Eduardo.jpg"/>
		
		<p>Clarice Lispector</p>
		<img width="100px" src ="/static/Clarice.jpg"/>
		
		<p>Demétrio Antonio de Jesus</p>
		<img width="100px" src ="/static/Demetrio.jpg"/>
		
		<p>Duvarlina Marcia de Assis</p>
		<img width="100px" src ="/static/Durvalina.jpg"/>
		
		<p>Evilásio Bueno Brandão</p>
		<img width="100px" src ="/static/Evilasio.jpg"/>
		
		<p>Franciele de Almeida e Silva</p>
		<img width="100px" src ="/static/Franciele.jpg"/>
		
		<br>
		
		<p><a href="index.html">Voltar</a></p>
	</body>
	
</html>
