<!DOCTYPE html>
<html lang="pt-br">

	<head>
	<meta charset="utf8"/>
		<title>Produtos</title>
	</head>
	
	<body bgcolor="#00ff00">
	
		<h1>Segue abaixo a lista dos nossos Produtos!</h1>
		
		<p>Tecido em Viscose</p><img width="80px" src ="/static/viscose.jpg"/>
		<p>Jeans 100%</p><img width="80px" src ="/static/jeans.jpg"/>
		<p>Brim</p><img width="80px" src ="/static/brim.jpg"/>
		<p>Cambraia</p><img width="80px" src ="/static/cambraia.jpg"/>
		<p>Seda Pura</p><img width="80px" src ="/static/seda.jpg"/>
		<p>Cetim</p><img width="80px" src ="/static/cetim.jpg"/>
		<p>Prada</p><img width="80px" src ="/static/prada.jpg"/>
		<p>Renda</p><img width="80px" src ="/static/renda.jpg"/>
		<p>Cotton</p><img width="80px" src ="/static/cotton.jpg"/>
		<p>Malha 100% Algodão</p><img width="80px" src ="/static/malha.jpg"/>
		
		
		
		 <table border="1" align=center width=800px>
		
		<tr><td>Produto </td> <td> Preço Unitário</tr>
		<tr><td>Tecido em Viscose</td> <td> R$ 4,99</tr>
		<tr><td>Jeans 100%</td> <td> R$ 3,99</tr>
		<tr><td>Brim</td> <td> R$ 4,78</tr>
		<tr><td>Cambraia</td> <td> R$ 3,99</tr>
		<tr><td>Seda Pura</td> <td> R$ 8,99</tr>
		<tr><td>Prada</td> <td> R$ 4,99</tr>
		<tr><td>Renda</td> <td> R$ 6,99</tr>
		<tr><td>Cotton</td> <td> R$ 4,99</tr>
		<tr><td>Maalha 100% algodão</td> <td> R$ 5,99</tr>
		
		
		<p><a href="index.html">Voltar</a></p>
	</body>
	
</html>
