<!DOCTYPE html>
<html lang="pt-br">

	<head>
	<meta charset="utf8"/>
		<title>Dados Enviados</title>
	</head>
	
	<body bgcolor="d0d0d0">
	
		<h2>Dados Enviados:</h2>
		
		<form method="GET" action="/cadastrar/"></form>
		
		<p><label>Nome: </label>{{nome}} </p>
		<p><label>Email: </label>{{email}}</p>
		<p><label>Telefone: </label>{{telefone}}</p>
				
		<br>
		
		<h3>Dados Enviados:</h3>
		<form method="POST" action="/cadastrar/"></form>
		
		<p><label>Nome: </label><input type="text" name="nome"></p>
		<p><label>Email: </label><input type="text" name="email"></p>
		<p><label>Telefone: </label><input type="text" name="telefone"></p>
		
	</body>
	
</html>
