<!DOCTYPE html>
<html lang="pt-br">

	<head>
	<meta charset="utf8"/>
		<title>Atividade 6 Transmissão de Informações</title>
		<style>
			body {margin: 0 20%}
			label {width: 100px; display: inline-block;}
		</style>
		
	</head>
	
	<body bgcolor = d0d0d0>
		<h2>Exemplo de Rota pela URL</h2>

		<a href="/dados/Jane Silva/janesilva@gmail.com/999698897/"> Nome 1</a> <br/>
		<a href="/dados/Carla Silva/carlalva@gmail.com/999725542/"> Nome 2</a> <br/>
		<a href="/dados/Rose Silva/rosesilva@gmail.com/995490864/"> Nome 3</a> <br/>
						
		<p>Dados enviados pela url:
		<p> Nome:{{nome}}</p>
		<p> Email:{{email}}</p>
		<p> Telefone:{{telefone}}</p>
		
	</body>
	
	
	
	
</html>